<div *ngIf="menuActive" (click)="userMenuSelection($event)">
  <div class="ui secondary pointing menu">
    <!--
    <a class="item">
      Home
    </a>
    <a class="item">
      Messages
    </a>
    <a class="item">
      Friends
    </a>
    -->
    <div class="right menu">
      <a class="ui item">
        <i class=" large icons">
          <i class="camera retro icon"></i>
          <i class="corner add icon"></i>
        </i>
        Add Camera
      </a>
      <a class="ui item">
        <i class="large sign out icon"></i>
        Logout
      </a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>


