<!--Start of Message Boxes-->
<!--When a user has no recorded pictures in the db-->
<div class="ui grid" *ngIf="cameraPhotoList.length === 0">
  <div class="two wide column"></div>
  <div class="twelve wide column">
    <div class="ui message">
      <div class="header">
        No Pictures Available
      </div>
      <p>You do not have any recorded pictures available for viewing! Select the "Record Feeds" icon in the upper menu bar to record some streams!</p>
    </div>
  </div>
</div>
<!--End of Message Boxes-->

<div class="ui three column grid">
  <div class="column" *ngFor="let cameraPhotos of cameraPhotoList">
    <div class="ui fluid card">
      <div class="content">
        <div class="header">
          <i class="photo icon"></i>
          {{cameraPhotos.cameraName}}
        </div>
        <div class="ui grid">
          <div class="four wide column">
            <h4 class="ui header centered">
              Contains
              <div class="ui divider"></div>
              <div class="sub header">{{cameraPhotos.photoIdTime.length}}</div>
              <div class="sub header">snapshots</div>
            </h4>
          </div>
          <div class="twelve wide column">
            <h4 class="ui header centered">
              Date Range
              <div class="ui divider"></div>
              <div class="sub header"><i class="angle double right icon"></i>{{convertSecondsToReadableDate(cameraPhotos.photoIdTime[0].value)}}</div>
              <div class="sub header"><i class="angle double right icon"></i>{{convertSecondsToReadableDate(cameraPhotos.photoIdTime[cameraPhotos.photoIdTime.length - 1].value)}}</div>
            </h4>
          </div>
          <div class="sixteen wide column">
            <button class="ui fluid grey mini button" (click)="viewCamSavedPhotos(cameraPhotos)">View Camera Snapshots</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui four column grid" *ngIf="cameraDvrFocusArray.length > 0">
  <div class="column" *ngFor="let cameraPhotos of cameraDvrFocusArray">
    <div class="ui card" >
      <div class="image">
        <img [src]="cameraPhotos.apiUrl" (error)="brokenImg($event)">
      </div>
      <div class="content">
        <div class="description">
          {{cameraPhotos.dateString}}
        </div>
      </div>
      <div class="extra content" (click)="cardClickAction($event, cameraPhotos)">
        <a class="right floated">
          <i class="trash outline small icon"></i> 
          Delete
        </a>
        <a>
          <i class="zoom small icon"></i>
          Enlarge
        </a>
      </div>
    </div>
  </div>
  <div class="ui inverted page dimmer">
    <div class="content">
      <div class="center">
      <img class="ui centered rounded huge image" [src]="cameraDvrFocusArray[enlargedElementVal].apiUrl" (error)="brokenImg($event)" (click)="hideDimmer()">
      <div class="ui inverted header">{{cameraDvrFocusArray[enlargedElementVal].dateString}}</div>
      <div class="ui inverted">(Click Image to Close)</div>
      </div>
    </div>
  </div>
</div>
