<div class="ui container">
  <div class="ui two column grid">
    <div class="five wide column twentytopmargin">
      <div class="ui form">

      <div class="field">
        <label>New User Name</label>
        <div class="ui left icon input">
          <i class="users icon"></i>
          <input type="text" placeholder="User Name..." #userName>
        </div>        
      </div>

      <div class="field">
        <label>New Password</label>
        <div class="ui left icon input">
          <i class="unlock icon"></i>
          <input type="password" placeholder="Password..." #userPass>
        </div>     
      </div>

      <div class="field">
        <label>Valid Email Address</label>
        <div class="ui left icon input">
          <i class="at icon"></i>
          <input type="email" placeholder="Email Address..." #userEmail>
        </div>        
      </div>
      <div class="two ui buttons">
        <div class="ui green button" (click)="postRegisteration(userName.value, userPass.value, userEmail.value)">Register!</div>
        <div class="or"></div>
        <div class="ui blue button" (click)="router.navigateByUrl('')">Return to Login</div>
      </div>
      <div class="ui negative large message" *ngIf="registerError.anError">
        <p>{{registerError.registerMsg}}</p>
      </div>
    </div>
  </div>
  <div class="ten wide column centered tentopmargin">
    <p>Eyes On The Net Image Goes Here</p>
  </div>
</div>