  <div class="ui two column grid">
    <div class="three wide column"></div>
    <div class="twelve wide column">
      <div *ngIf="menuActive" (click)="userMenuSelection($event)">
        <div class="ui secondary pointing menu">
          <div class="left menu">
            <a [ngClass]="{active: router.url==='/camera/multicamera'}" class="ui item">
              <i class="large grid layout icon icon"></i>
              Multi-Camera
            </a>
            <a [ngClass]="{active: router.url==='/camera/singlecamera'}" class="ui item">
              <i class="square icon"></i>
              Single Camera
            </a>
            <a [ngClass]="{active: router.url==='/camera/record'}" class="ui item">
              <i class="record icon"></i>
                Record Feeds
            </a>
          </div>

          <a [ngClass]="{active: router.url==='/camdvr'}" class="ui item">
            <i class="film icon"></i>
              Cam DVR
          </a>

          <div class="right menu">
                <a class="ui item" *ngIf="router.url!=='/camdvr'">
                  <i class=" large icons">
                    <i class="camera retro icon"></i>
                    <i class="corner add icon"></i>
                  </i>
                  Add Camera
                </a>
                <div class="ui disabled item" *ngIf="router.url==='/camdvr'">
                  <i class=" large icons">
                    <i class="camera retro icon"></i>
                    <i class="corner add icon"></i>
                  </i>
                  Add Camera
                </div>
            <a class="ui item">
              <i class="large sign out icon"></i>
              Logout
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>